body{
    background-color: lightyellow;
    background-image:url("pizza-de-calabresa.png");
    margin: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0,6cm;
    background-position: top right;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
.clCorpo {
    width: 30%;
    margin: auto;
    margin-top: 12%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 3pt solid;
    border-radius: 7%;
}
